<div class="panel panel-default" style="margin-top: 10px;">
  <div class="panel-headingx">
    <h4 class="public-header" style="margin: 0;">Create New User</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>