<%= form_for(@work_order) do |f| %>
    <% User.all.each do |user| %>
        <%= f.radio_button :technician_id, user.id %> <%= user.name %><br/>
    <% end %>
    <div class="modal-footer">
     <%= f.submit %>
    </div>
<% end %>